div {
  background-color:#8B0000;
}
body{
  background-color:#00FA9A;
}
.AppDesc{
  font-family:sans-serif;
  size:14px;
  color:#4682B4;
}

.AppTitle{
  font-family:Impact;
  size:20px;
  color:#FFFFFF;
}
