body {
    background-color: #0c1f2f;
    background-image: url(/sites/all/themes/tsa/images/bgBody.jpg);
    background-position: top;
    background-repeat: repeat-x;
    color: #264a69;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
background-color
rgb(12, 31, 47)
background-image
url("http://www.tsaweb.org/sites/all/themes/tsa/images/bgBody.jpg")
url(/sites/all/themes/tsa/images/bgBody.jpg)body
background-position
50% 0%
topbody
background-repeat
repeat-x
repeat-xbody
color
rgb(38, 74, 105)
#264a69body
display
block
blockuser agent stylesheetbody
font-family
Arial, Helvetica, sans-serif
Arial,Helvetica,sans-serifbody
font-size
12px
12pxbody
height
1136px
margin-bottom
0px
0pxbody
0pxhtml *
8pxuser agent stylesheetbody
margin-left
0px
0pxbody
0pxhtml *
8pxuser agent stylesheetbody
margin-right
0px
0pxbody
0pxhtml *
8pxuser agent stylesheetbody
margin-top
0px
0pxbody
0pxhtml *
8pxuser agent stylesheetbody
padding-bottom
0px
0pxbody
0pxhtml *
padding-left
0px
0pxbody
0pxhtml *
padding-right
0px
0pxbody
0pxhtml *
padding-top
0px
0pxbody
0pxhtml *
width
1345px
